
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";

$body-bg: #fafafa;
$text-primary: #292929;
$theme-colors: (
    primary: #d1cac9,
    secondary: #4d4c4c,
    dark: #2f2e2e,
    light: #ffffff,
    
);


$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.0rem,
  7: 1.5rem
);

$display-font-weight: lighter;
$display-line-height: $headings-line-height;

$navbar-dark-color:                 rgba($white, 1);
$navbar-dark-hover-color:           rgba($white, .55);
$navbar-dark-active-color:          rgba($white, .55);

$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4)
);



@import "~bootstrap/scss/bootstrap";
